ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 3rem;
  text-align: left;
  
  li {
    padding-top: .5rem;
    font-size: 1rem;
    
    input[type="checkbox"] {
      margin-right: 1rem;
    }
  }
}

